*
{
    margin: 0;
    padding:0;
    font-family             ;
    box-sizing: border-box;
}
.background {
    opacity: 0.6;
    display:flex;
    height:100vh;
    width: 100vw;
    margin-left: 0px;
}
.container {
    width:100vw;
    height:100vh;
    background-image:               ;
    background-position:center;
    background-size: cover;
    padding: 0 8%;
}

.top_section {
    position: absolute;
    left: 16vw;
    top: 34vh;
    border-radius: 300px;
    padding:15px;
    opacity: 0.8;
}

.top_section p {
    font-style: italic;
    background-color: rgb(141, 165, 243);
    display:flex;
    position: relative;
    border-radius: 300px;
    padding: 5px 19px 5px 19px;
    opacity:0.9;
}
.top_section span {
    
    transition:0.3s;
    color:rgb(238, 12, 12)
}
.top_section span:hover {
    opacity: 0.98;
    color:rgba(250, 0, 0, 1)
}

.logo {
    display:flex;
    position: absolute;
    left: 5%;
    margin-top: -21.5px;
    font-weight: 700;
    opacity: 0.85;
    transition: 0.3s
}
.logo:hover {
    opacity:0.98

}

.bottom_section {
    display:flex;
    top:50%;
    position: absolute;
    right: 16vw;
    bottom: 0vh;

}
.container h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 30px;
    opacity:0.8;
}

.countdown_time {
    display:flex;
    flex-basis:100px;
    opacity:0.8;
    transition:0.3s;
}
.countdown_time:hover {
    opacity:1;
}

.countdown_time div {
    font-size: 50px;
    margin-bottom: -8vh;
}
.countdown_time p {
    margin-left: 50px;
    position: relative;
    margin-top:25px;
}
.countdown_time span {
    margin-left: 95px;
    
}
.divider_line:hover {

    opacity:0.8;
    color:#66baf1;
}
.divider_line {
    display:flex;
    position:relative;
    top:-1vh;
    left: 28vw;
    background-color:rgb(141, 165, 243);  
    width:35vw;
    height: 0.7vh;
    border-radius: 30px;
    opacity:0.5;
    border-style:solid;
    border:1px;
    border-color: #f1b8c6;
    transition: 0.3s;
}